<!DOCTYPE html>
<html>
<center>
<head>
    <title>Speed Typing Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Type the following sentence:</h1>
        <p>{{ sentence }}</p>
        <form action="/result" method="POST">
            <input type="hidden" name="start_time" value="{{ start_time }}">
            <input type="text" name="user_input" autofocus>
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</center>
</html>
